@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #2b76fe;

  --color-border-gray: #ebebeb;

  --font-poppins: "Poppins", sans-serif;
  --font-sofia-sans-condensed: "Sofia Sans Condensed", sans-serif;
}

@utility container {
  @apply mx-auto max-w-[1500px] px-4;
}

body {
  @apply font-sofia-sans-condensed relative;
}

p {
  @apply font-poppins text-xs sm:text-sm md:text-base xl:text-lg;
}

span,
li,
a {
  @apply font-poppins text-xs sm:text-sm md:text-base xl:text-lg;
}

/* Custom styles for the hero layout */
.bg-blend-darken {
  background-blend-mode: darken;
}

/* Smooth transitions for interactive elements */
button {
  transition: all 0.3s ease;
}

/* Ensure proper text rendering */
h1,
h2,
h3 {
  text-rendering: optimizeLegibility;
}

h2 {
  @apply font-sofia-sans-condensed text-3xl leading-tight font-extrabold uppercase lg:text-5xl xl:text-5xl;
}

h3 {
  @apply text-2xl leading-tight font-bold lg:text-3xl xl:text-4xl;
}

/* Custom shadow for consultation box */
.shadow-xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
