---
import { cn } from "@/utils/helper";

export interface Props {
  icon: any;
  title: string;
  description: string;
  class?: string;
}

const { icon, title, description, class: className = "" } = Astro.props;
---

<div
  class={cn(
    "bg-white rounded-[10px] border text-center lg:text-left border-border-gray p-4 md:p-6 pb-5 sm:pb-8 md:pb-12",
    className,
  )}
>
  <!-- Icon -->
  <div class="mb-6 flex justify-center lg:justify-start">
    <div class="flex h-16 w-16 items-center justify-center lg:h-24 lg:w-24">
      <img
        src={icon.src || icon}
        alt={title}
        class="h-full w-full object-contain"
      />
    </div>
  </div>

  <!-- Title -->
  <p
    class="font-sofia-sans-condensed mb-4 text-2xl! font-extrabold text-gray-900 xl:text-4xl!"
  >
    {title}
  </p>

  <!-- Description -->
  <p class="leading-relaxed text-gray-700">
    {description}
  </p>
</div>
