---
import Image from "astro/components/Image.astro";
import logo from "@/assets/logo-blue.svg";
import envelopeIcon from "@/assets/icons/envelope.svg";
import phoneIcon from "@/assets/icons/phone.svg";
import markerIcon from "@/assets/icons/marker.svg";
---

<footer class="bg-white pb-10 sm:pb-16">
  <div class="container mx-auto px-4">
    <!-- First Part of Footer -->
    <div
      class="mb-6 rounded-[10px] border border-gray-300 bg-white p-6 sm:mb-8 sm:p-10"
    >
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
        <!-- Left Content Area -->
        <div class="space-y-6">
          <!-- Logo -->
          <div class="w-20 sm:w-24 md:w-[130px] lg:w-[150px]">
            <Image src={logo} alt="logo" />
          </div>

          <!-- Description Text -->
          <p class="leading-relaxed">
            Helping senior living communities fill vacancies through expert
            digital marketing and proven lead generation strategies.
          </p>
        </div>

        <!-- Right Content Area -->
        <div class="space-y-4">
          <!-- Heading -->
          <h3
            class="text-primary text-xl! font-bold uppercase sm:text-2xl! lg:text-[32px]!"
          >
            GET IN TOUCH
          </h3>

          <!-- Separator Line -->
          <div class="border-t border-gray-300"></div>

          <!-- Contact Details -->
          <div class="py-2">
            <!-- Email -->
            <a
              href="mailto:office@seniorlead.com"
              class="flex items-center space-x-3"
            >
              <div class="flex w-5 items-center justify-center">
                <Image
                  src={envelopeIcon}
                  alt="Email"
                  class="h-full w-full object-contain"
                />
              </div>
              <span class="text-dark-gray">office@seniorlead.com</span>
            </a>

            <!-- Phone -->
            <!-- <a href="tel:+584248258" class="flex items-center space-x-3">
              <div class="flex w-5 items-center justify-center">
                <Image
                  src={phoneIcon}
                  alt="Phone"
                  class="h-full w-full object-contain"
                />
              </div>
              <span class="text-dark-gray">+584/248-258</span>
            </a>
          </div> -->
          </div>
        </div>
      </div>

      <!-- Second Part of Footer -->
      <div
        class="mt-4 rounded-[10px] border border-gray-300 bg-[#FAFAFA] px-6 py-5 sm:px-10 sm:py-8"
      >
        <div
          class="flex flex-col items-center justify-between space-y-4 md:flex-row md:space-y-0"
        >
          <!-- Left Content Area -->
          <div class="text-center md:text-left">
            <p
              class="text-primary! text-sm! font-medium sm:text-base! lg:text-xl!"
            >
              Copyright © 2025 SeniorLead. All rights reserved.
            </p>
          </div>

          <!-- Right Content Area -->
          <div class="flex space-x-6">
            <a
              href="#"
              class="hover:text-primary text-dark-gray transition-colors duration-300 lg:text-[18px]!"
            >
              Legal
            </a>
            <a
              href="#"
              class="hover:text-primary text-dark-gray transition-colors duration-300 lg:text-[18px]!"
            >
              Privacy Policy
            </a>
            <a
              href="#"
              class="hover:text-primary text-dark-gray transition-colors duration-300 lg:text-[18px]!"
            >
              Terms of Use
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
